@keyframes fade-bottom {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.story {
  &__item {
    margin-top: 3rem;
    display: flex;
    &--1 {
      animation: fade-bottom 1s 1.3s backwards;
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      @media only screen and (max-width:1000px) {
        grid-column: 1 / span 2;
        grid-row: 5 / 6;
        margin: 3rem auto 1rem auto;
      }
    }
    &--2 {
      animation: fade-bottom 1s 1.5s backwards;
      grid-column: 2 / 3;
      grid-row: 3 / 4;
      @media only screen and (max-width:1000px) {
        grid-column: 1 / span 2;
        grid-row: 6 / 7;
        margin: 0rem auto 1rem auto;
      }
    }
    &--3 {
      animation: fade-bottom 1s 1.7s backwards;
      grid-column: 3 / 4;
      grid-row: 3 / 4;
      @media only screen and (max-width:1000px) {
        grid-column: 1 / span 2;
        grid-row: 7 / 8;
        margin: 0rem auto;
      }
    }
    img {
      width: 6.25rem;
      height: 8.125rem;
      margin-right: 1.25rem;
    }
  }
  &__group {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__heading--number {
    margin: 0;
    font-size: 2rem;
    color: var(--color-grey-light);
  }
  &__heading--2 {
    margin: 0.5rem 0 0 0;
    font-size: 1.1rem;
    transition: all 0.3s;
    &:hover {
      cursor: pointer;
      color: var(--color-accent);
    }
  }
  &__description {
    margin: 0.5rem 0 0 0;
    font-size: 0.9rem;
    color: var(--color-grey);
    line-height: 1.7;
    max-width: 220px;
    @media only screen and (max-width:400px) {
      
      
    }
  }
}
